body {
      background-image: url("image.jpg");
   background-color: #cccccc;
  }

  h1 {color: Red;
   font-size: 250%;
    text-align: center;
  }

p{
  font-style: italic;
     font-family: "Times New Roman", Georgia, Serif;
   }

   p1{
    font-style: italic;
    color: green;
}

h2 {
    text-align:left;

}
.red{
  width:700px;
  float:left;
  height:auto;
  }

.blue{
  width:300px;
    float:left;
  height:auto;
}
